div.AO {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: .01rem solid #333;
  width: 32rem;
  height: 30rem;
  overflow-y: scroll;
  margin: .4rem auto;
  padding: 1rem;
  background-color: #f2f2f2;
}

div.AO div.slot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

div.AO div.slot:hover {
  background-color: #b2beb5;
}

div.AO div.slot-active {
  background-color: #b2beb5;
}

div.AO div.slot label {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

div.AO div.slot img {
  width: 8rem;
  margin: 0 auto;
  
}

div.AO div.slot input { 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  font-family: sans-serif;
  font-size: 1rem;
}

div.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

div.buttons button {
  flex: .2;
  margin: 8px;
  padding: .5rem;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  border-radius: 4px;
  color: #111;
  cursor: pointer;
}

div.buttons button:hover {
  opacity: 90%;
  color: #fff;
}